@model HittaIJulitaWeb.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Home page";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Detta är en tjänst som hjälper dig att hitta i Julita</p>
</div>

<div class="card shadow-lg" style="padding:30px">
    <form method="post" asp-action="Search">
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label asp-for="GatuPlats">Gatuplats</label>
                <input type="text" asp-for="GatuPlats" class="form-control" maxlength="50">
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Postnummer"></label>
                <input type="text" asp-for="Postnummer" class="form-control" maxlength="50">
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Plats"></label>
                <input type="text" asp-for="Plats" class="form-control" maxlength="50">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-9">
                <button class="btn btn-danger" type="submit">Sök</button>
            </div>
        </div>
    </form>
</div>