@model List<HittaIJulitaWeb.ViewModels.SearchViewModel>

<div class="card" style="padding:20px;">
    @if (Model.Count() == 0)
    {
        <p>Tyvärr hittades inga platser</p>
    }
    else
    {
        <table class="table-responsive-sm table-hover">
            <h4>@Model.Count() resultat hittades</h4>
            <thead>
                <tr>
                    <th>
                        Gatuplats
                    </th>
                    <th>
                        Postnummer
                    </th>
                    <th>
                        Plats
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>
                            @row.Street
                        </td>
                        <td>
                            @row.PostalCode
                        </td>
                        <td>
                            @row.Place
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>